[Unit]
Description=ferm firewall configuration
RequiresMountsFor=/var/cache/
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/ferm start
ExecReload=/etc/init.d/ferm reload
ExecStop=/etc/init.d/ferm stop

[Install]
WantedBy=sysinit.target
